@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@font-face {
    font-family: hand-write;
    src: url(hand-write.woff);
}

* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    color: #333;
    font-family: hand-write;
}

.content {
    width: 210mm;
    height: 297mm;
    margin: 2em auto;
    background-color: white;
    box-shadow: 0 0 1em .5em #ddd;
}

@media print {
    .content {
        margin: 0;
        padding: 0;
        width: 100%;
        box-shadow: none;
    }
}

@media only screen and (max-width: 210mm) {
    .content {
        margin: 0;
        width: 100%;
        box-shadow: none;
    }
}

table, th, td {
    border: 1px solid #eee;
    border-collapse: collapse;
}

table {
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

td {
    font-size: 28px;
    padding: .09em .4em;
}

td:first-child {
    font-family: 'Rubik'
}